# local settings
PyHelpersForPDXWikis/localsettings.py

# default output folder
output

# default cache folder
cache

# environment
.venv

# IDEs
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
