# local settings
PyHelpersForPDXWikis/localsettings.py

# default output folder
output

# default cache folder
cache

# default folder for aow4 data
aow4data

# environment
.venv
.venv.old

# IDEs
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# local copies of stuff
/pyradox
/rgbaDecode

# temp folders
/temp

# experiments
/*/experiments*.py
/*/test.py
/*/auto_preview.py
