from pathlib import Path

# the location of the rakaly command line tool from https://github.com/rakaly/cli
# this is either an absolute path, or just 'rakaly' if it is installed somewhere in the PATH
# (currently only needed for vic3)
RAKALY_CLI = 'rakaly'

# the folder where Victoria 3 is installed
VIC3DIR = Path('c:/Program Files (x86)/Steam/steamapps/common/Victoria 3')            # windows
# VIC3DIR = Path('/cygdrive/c/Program Files (x86)/Steam/steamapps/common/Victoria 3') # cygwin
# VIC3DIR = Path('~/.steam/steam/steamapps/common/Victoria 3').expanduser()           # linux

# the folder where Age of Wonders 4 is installed (currently only used for some minor localizations)
AOW4DIR = Path('c:/Program Files (x86)/Steam/steamapps/common/Age of Wonders 4')            # windows
# AOW4DIR = Path('/cygdrive/c/Program Files (x86)/Steam/steamapps/common/Age of Wonders 4') # cygwin
# AOW4DIR = Path('~/.steam/steam/steamapps/common/Age of Wonders 4').expanduser()           # linux

# this folder stores the .json file with the Age of Wonders 4 data
# it might be possible to export these files within the game. Otherwise an edited version can be found at
# https://github.com/MinionsArt/aow4db/tree/main/Data
AOW4DATADIR = Path(__file__).absolute().parents[1] / 'aow4data'

# the folder where Cities: Skylines II is installed
CS2DIR = Path('c:/Program Files (x86)/Steam/steamapps/common/Cities Skylines II')            # windows
# CS2DIR = Path('/cygdrive/c/Program Files (x86)/Steam/steamapps/common/Cities Skylines II') # cygwin
# CS2DIR = Path('~/.steam/steam/steamapps/common/Cities Skylines II').expanduser()           # linux

# the location of the TypeTreeGenerator command line tool from https://github.com/K0lb3/TypeTreeGenerator
# it is used to get type trees for classes in unity games. They are needed to read MonoBehavior assets
# to run it, the command line tool dotnet is needed
# (currently only needed for Cities: Skylines II)
TYPE_TREE_GENERATOR = Path('~/Downloads/TypeTreeGenerator/TypeTreeGeneratorCLI.dll').expanduser() # linux

# the folder where Millennia is installed
MILLENNIADIR = Path('c:/Program Files (x86)/Steam/steamapps/common/Millennia')            # windows
# MILLENNIADIR = Path('/cygdrive/c/Program Files (x86)/Steam/steamapps/common/Millennia') # cygwin
# MILLENNIADIR = Path('~/.steam/steam/steamapps/common/Millennia').expanduser()           # linux

# generated files will be stored in a game/version subfolder of this folder
# per default we just use output in the base folder of the project
OUTPATH = Path(__file__).absolute().parents[1] / 'output'

# caches parsed data by game/version number. This is used by the @disk_cache decorator.
# When changing the code of the decorated method, you have to clear the cache manually.
# Currently only used for CS2.
CACHEPATH = Path(__file__).absolute().parents[1] / 'cache'